.git
.oci
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
documentation/
docker-compose.override.yml
data
logs/
z_dum.py
